.meni{
    background-color: rgb(235, 176, 176);
    text-align: center;
}

a:link {
	color:black;
}

a:visited {
    color: purple;
}

a:active {
    color:rgb(76, 0, 255);
}

a:hover {
    color:  red;
}

.dropdown-item{
    color: rgba(212, 0, 255, 0.349);
}

.dropdown-item.active {
	background-color:rgb(76, 0, 255);
}

.dropdown-item:hover{
    color: black;
    background-color: red;
}

